* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(252, 246, 246);
}
.main-section {
    width: 70%;
    height: 550px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 90px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6)
}
.svg-display img {
    width: 100%;
    margin-top: -48px;
}
#faq-section {
    max-width: 480px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    margin-top: 80px;
}
#faq-section h1 {
    color: #000;
    font-weight: 800;
    font-size: 32px;
    padding: 10px;
    display: inline;
}
#faq-section img {
    width: 32px;
}
#faq-section p {
    color: #000;
}
.question1 ,.question2, .question3, .question4 {
    padding: 35px;
    margin-top: -45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#extra-para, #extra-para1, #extra-para2, #extra-para3{
    display: none;
    padding: 35px;
    margin-top: -55px;
    font-size: 14px;
    opacity: 0.8;
}
.question1, .question2, .question3, .question4 p {
    font-weight: 600;
}
.section1 {
    padding: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section1 h1 {
    font-weight: 800;
}
h6 {
    display: none;
}
.hide-icon {
    display: none;
}