* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(230, 224, 224);
}
.main-section {
    width: 70%;
    height: 550px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 90px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6)
}
.svg-display .desktop {
    width: 100%;
}
#faq-section {
    max-width: 440px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    margin-top: 150px;
}
#faq-section h1 {
    color: #000;
    font-weight: 800;
    font-size: 32px;
    padding: 10px;
    display: inline;
}
#faq-section img {
    width: 32px;
}
#faq-section p {
    color: #000;
}
.question1 ,.question2, .question3, .question4 {
    padding: 30px;
    margin-top: -48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#extra-para, #extra-para1, #extra-para2, #extra-para3{
    display: none;
    padding: 35px;
    margin-top: -55px;
    font-size: 16px;
    opacity: 0.8;
}
.question1, .question2, .question3, .question4 p {
    font-weight: 600;
}
.section1 {
    padding: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section1 h1 {
    font-weight: 800;
    margin-left: 15px;
}
h6 {
    display: none;
}
.hide-icon {
    display: none;
}
.mobile {
    display: none;
    width: 100%;
}

@media screen and (min-width:220px) and (max-width:932px) {
    .main-section {
        width: 100%;
        max-width: 100%;
        margin: 0;
        height:0;
    }
    .svg-display .desktop  {
        display: none;
    }
    .svg-display .mobile {
        display: inline;
        width: 500px;
    }
    #faq-section {
        max-width: 520px;
        width: 90%;
        margin-top: 140px;
    }
    .question1, .question2, .question3, .question4 p {
        font-size: 20px;
    }
    .question1 ,.question2, .question3, .question4 {
        margin-top: -32px;
        padding: 35px;
    }
    #extra-para, #extra-para1, #extra-para2, #extra-para3 {
        font-size: 18px;
    }
}